In [1]:
import json
with open('/Users/yawagipong/.secret/yelp_api.json') as f:
    login = json.load(f)
login.keys()

dict_keys(['client-id', 'api-key'])

In [2]:
!pip install yelpapi

Requirement already satisfied: yelpapi in /opt/homebrew/Caskroom/miniforge/base/envs/dojo-env/lib/python3.9/site-packages (2.5.0)
Requirement already satisfied: requests in /opt/homebrew/Caskroom/miniforge/base/envs/dojo-env/lib/python3.9/site-packages (from yelpapi) (2.28.1)
Requirement already satisfied: charset-normalizer<3,>=2 in /opt/homebrew/Caskroom/miniforge/base/envs/dojo-env/lib/python3.9/site-packages (from requests->yelpapi) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /opt/homebrew/Caskroom/miniforge/base/envs/dojo-env/lib/python3.9/site-packages (from requests->yelpapi) (2022.9.24)
Requirement already satisfied: idna<4,>=2.5 in /opt/homebrew/Caskroom/miniforge/base/envs/dojo-env/lib/python3.9/site-packages (from requests->yelpapi) (3.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /opt/homebrew/Caskroom/miniforge/base/envs/dojo-env/lib/python3.9/site-packages (from requests->yelpapi) (1.26.13)

In [3]:
from yelpapi import YelpAPI
yelp_api = YelpAPI(login['api-key'], timeout_s = 5.0)
yelp_api

In [4]:
results = yelp_api.search_query(location = 'Baltimore, MD', 
                                term = 'Crab Cake')
print(type(results))
results.keys()

<class 'dict'>

dict_keys(['businesses', 'total', 'region'])

In [5]:
import json

In [6]:
data = {'stack': 4, 'week': 2,
       'things learned': ['MySQL', 'MySQL Workbench',
                         'GitHub Desktop', 'Jupyter Notebooks', 'JSON']}

data

{'stack': 4,
 'week': 2,
 'things learned': ['MySQL',
  'MySQL Workbench',
  'GitHub Desktop',
  'Jupyter Notebooks',
  'JSON']}

In [7]:
with open('example_saved_data.json', 'w') as f:
    json.dump(data, f)

In [8]:
with open('example_saved_data.json') as f:
    loaded = json.load(f)
    
loaded

{'stack': 4,
 'week': 2,
 'things learned': ['MySQL',
  'MySQL Workbench',
  'GitHub Desktop',
  'Jupyter Notebooks',
  'JSON']}

In [9]:
print(type(loaded))
loaded.keys()

<class 'dict'>

dict_keys(['stack', 'week', 'things learned'])

In [10]:
with open('example_yelp_results.json') as f:
    json_file = json.load(f)
    
type(json_file)

dict

In [11]:
json_file.keys()

dict_keys(['businesses', 'total', 'region'])

In [21]:
search_results = yelp_api.search_query(location = 'NY, NY',
                                      term = 'Pizza')

print(type(search_results))
search_results.keys()

<class 'dict'>

dict_keys(['businesses', 'total', 'region'])

In [22]:
print(search_results['total'])
print(len(search_results['businesses']))

15700
20

In [23]:
import pandas as pd
biz = pd.DataFrame(search_results['businesses'])
biz.head(2)

,id,alias,name,image_url,is_closed,url,review_count,categories,rating,coordinates,transactions,price,location,phone,display_phone,distance
0,zj8Lq1T8KIC5zwFief15jg,prince-street-pizza-new-york-2,Prince Street Pizza,https://s3-media2.fl.yelpcdn.com/bphoto/I4gm7i...,False,https://www.yelp.com/biz/prince-street-pizza-n...,4744,"[{'alias': 'pizza', 'title': 'Pizza'}, {'alias...",4.5,"{'latitude': 40.72308755605564, 'longitude': -...","[delivery, pickup]",$,"{'address1': '27 Prince St', 'address2': None,...",+12129664100,(212) 966-4100,2209.311618
1,ysqgdbSrezXgVwER2kQWKA,julianas-brooklyn-3,Juliana's,https://s3-media2.fl.yelpcdn.com/bphoto/NVoLFl...,False,https://www.yelp.com/biz/julianas-brooklyn-3?a...,2601,"[{'alias': 'pizza', 'title': 'Pizza'}]",4.5,"{'latitude': 40.70274718768062, 'longitude': -...",[delivery],$$,"{'address1': '19 Old Fulton St', 'address2': '...",+17185966700,(718) 596-6700,1289.857286

In [24]:
search_results = yelp_api.search_query(location = 'NY, NY',
                                      term = 'Pizza',
                                      offset = 20)

In [25]:
biz20 = pd.DataFrame(search_results['businesses'])
biz20.head(2)

,id,alias,name,image_url,is_closed,url,review_count,categories,rating,coordinates,transactions,location,phone,display_phone,distance,price
0,affWh2WFSMayL04l9lr47g,roberta-s-brooklyn,Roberta’s,https://s3-media1.fl.yelpcdn.com/bphoto/rdK-so...,False,https://www.yelp.com/biz/roberta-s-brooklyn?ad...,11,"[{'alias': 'pizza', 'title': 'Pizza'}]",4.0,"{'latitude': 40.71613781459604, 'longitude': -...",[],"{'address1': '6 Grand St', 'address2': '', 'ad...",,,1471.462333,NaN
1,REC_m1Y4caJIXz8DDdgh-A,mels-new-york-6,Mels,https://s3-media3.fl.yelpcdn.com/bphoto/PUochz...,False,https://www.yelp.com/biz/mels-new-york-6?adjus...,54,"[{'alias': 'pizza', 'title': 'Pizza'}, {'alias...",4.5,"{'latitude': 40.74303, 'longitude': -74.00779}",[],"{'address1': '85 10th Ave', 'address2': '', 'a...",+12129702202,(212) 970-2202,4710.484386,NaN

In [26]:
businesses = pd.concat([biz, biz20],
                      ignore_index = True)
display(businesses.head(2), businesses.tail(2))

,id,alias,name,image_url,is_closed,url,review_count,categories,rating,coordinates,transactions,price,location,phone,display_phone,distance
0,zj8Lq1T8KIC5zwFief15jg,prince-street-pizza-new-york-2,Prince Street Pizza,https://s3-media2.fl.yelpcdn.com/bphoto/I4gm7i...,False,https://www.yelp.com/biz/prince-street-pizza-n...,4744,"[{'alias': 'pizza', 'title': 'Pizza'}, {'alias...",4.5,"{'latitude': 40.72308755605564, 'longitude': -...","[delivery, pickup]",$,"{'address1': '27 Prince St', 'address2': None,...",+12129664100,(212) 966-4100,2209.311618
1,ysqgdbSrezXgVwER2kQWKA,julianas-brooklyn-3,Juliana's,https://s3-media2.fl.yelpcdn.com/bphoto/NVoLFl...,False,https://www.yelp.com/biz/julianas-brooklyn-3?a...,2601,"[{'alias': 'pizza', 'title': 'Pizza'}]",4.5,"{'latitude': 40.70274718768062, 'longitude': -...",[delivery],$$,"{'address1': '19 Old Fulton St', 'address2': '...",+17185966700,(718) 596-6700,1289.857286

,id,alias,name,image_url,is_closed,url,review_count,categories,rating,coordinates,transactions,price,location,phone,display_phone,distance
38,ApZ_j43jjSZQe2AMDdO46w,grand-street-pizza-new-york,Grand Street Pizza,https://s3-media2.fl.yelpcdn.com/bphoto/ypw5OQ...,False,https://www.yelp.com/biz/grand-street-pizza-ne...,27,"[{'alias': 'pizza', 'title': 'Pizza'}]",4.5,"{'latitude': 40.7164, 'longitude': -73.98767}","[pickup, delivery]",NaN,"{'address1': '384 Grand St', 'address2': '', '...",+16469186194,(646) 918-6194,1276.253356
39,CiRj1B-gK5tRfbMkq3SBog,robertas-new-york-3,Roberta's,https://s3-media3.fl.yelpcdn.com/bphoto/__bI5t...,False,https://www.yelp.com/biz/robertas-new-york-3?a...,4,"[{'alias': 'pizza', 'title': 'Pizza'}]",5.0,"{'latitude': 40.71995520720623, 'longitude': -...","[pickup, delivery]",NaN,"{'address1': '196 Stanton St', 'address2': '',...",,,1479.203775